.nav-bar {
  width: 100%;
  background-color: #FDF2F5;
  padding-top: 1px;
  height: 55px;
  overflow: hidden;
  position: relative;
}

.left-side {
  float: left;
  padding-top: 5px;
  margin-left: 10px;
  height: 55px;
}

.right-side {
  float: right;
  padding-top: 17px;
  height: 55px;
  font-family: 'BenchNine', sans-serif;
font-family: 'Merriweather', serif;
}

.right-side2 {
  float: right;
  padding-top: 17px;
  height: 55px;
  font-family: 'BenchNine', sans-serif;
font-family: 'Merriweather', serif;
}

* {
  margin: 0;
  padding: 0;
}

.pic-holder {
  display: grid;
  height: 100%;
  padding-top: 75px;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.container {
  position: relative;
  text-align: center;
}

.landing-button {

    background-color: #9A0337;
    height: 100px;
    width: 200px;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: 37px;
}

.cake-logo {
    height: 40px;
}

html {
    background-color: #FC5679;

}

html, body {
  overscroll-behavior: none;
}

.how-to{
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
}

.how-title {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  font-size: 50px;
  color: white;
  font-family: 'BenchNine', sans-serif;
font-family: 'Merriweather', serif;
}

.each-slide {
  text-align: center;
}

.form-container {
  position: relative;
  text-align: center;
  padding-bottom: 40px;

}

.instructions {
  width: 100%;
  text-align: center;
  line-height: 45px;
  padding-top: 80px;
padding-bottom: 60px;
}

.instructions-text {
  margin-right: 30px;
  margin-left: 30px;
  font-family: 'BenchNine', sans-serif;
  font-family: 'Merriweather', serif;
}

.order-title {
  text-align: center;
  padding-top: 80px;
  color: white;
  font-size: 90px;
  font-family: 'BenchNine', sans-serif;
  font-family: 'Merriweather', serif;
}

.name-box {
  height: 40px;
    border-radius: 10px;
    border-color: black;
  border-width: unset;
    padding-left: 10px;
    font-family: 'BenchNine', sans-serif;
    font-family: 'Merriweather', serif;
}

.name-holder {
  padding-bottom: 20px;
}

.email-box {
  height: 40px;
  border-radius: 10px;
  border-color: black;
  border-width: unset;
  padding-left: 10px;
  font-family: 'BenchNine', sans-serif;
  font-family: 'Merriweather', serif;

}

.email-holder {
  padding-bottom: 20px;
}

.msg-box {
  border-radius: 10px;
  border-color: black;
  border-width: unset;
  padding-left: 10px;
  padding-top: 4px;
  font-family: 'BenchNine', sans-serif;
  font-family: 'Merriweather', serif;
}

.send-button {

  background-color: #9A0337;
  height: 100px;
  width: 235px;
  border-radius: 22px;
  color: white;
  border: none;
  font-size: 30px;
}

.button-holder {
  padding-top: 30px;
  padding-bottom: 80px;
}