.nav-bar {
  width: 100%;
  background-color: #FDF2F5;
  padding-top: 1px;
  height: 55px;
  overflow: hidden;
  position: relative;
}

.left-side {
  float: left;
  padding-top: 5px;
  margin-left: 10px;
  height: 55px;
}

.right-side {
  float: right;
  padding-top: 17px;
  height: 55px;
  font-family: 'BenchNine', sans-serif;
font-family: 'Merriweather', serif;
}

.right-side2 {
  float: right;
  padding-top: 17px;
  height: 55px;
  font-family: 'BenchNine', sans-serif;
font-family: 'Merriweather', serif;
}

* {
  margin: 0;
  padding: 0;
}

.pic-holder {
  display: grid;
  height: 100%;
  padding-top: 75px;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.container {
  position: relative;
  text-align: center;
}

.landing-button {

    background-color: #9A0337;
    height: 100px;
    width: 200px;
    border-radius: 22px;
    color: white;
    border: none;
    font-size: 37px;
}

.cake-logo {
    height: 40px;
}

html {
    background-color: #FC5679;
}

.how-to{
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

.how-title {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  font-size: 50px;
  color: white;
  font-family: 'BenchNine', sans-serif;
font-family: 'Merriweather', serif;
}

.each-slide {
  text-align: center;
}